#                                          COVID DATASET

In [ ]:
import pandas as pd
df = pd.read_csv("country_wise_latest.csv")

In [2]:
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

## 1. Show the number of 'confirmed', 'deaths' and 'recovered' cases in each region(use groupby function).

In [3]:
a = df.groupby(['Country/Region', 'Confirmed', 'Deaths', 'Recovered / 100 Cases'])

In [5]:
a.first()

,,,,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
Country/Region,Confirmed,Deaths,Recovered / 100 Cases,,,,,,,,,,,
Afghanistan,36263,1269,69.49,25198,9796,106,10,18,3.50,5.04,35526,737,2.07,Eastern Mediterranean
Albania,4880,144,56.25,2745,1991,117,6,63,2.95,5.25,4171,709,17.00,Europe
Algeria,27973,1163,67.34,18837,7973,616,8,749,4.16,6.17,23691,4282,18.07,Africa
Andorra,907,52,88.53,803,52,10,0,0,5.73,6.48,884,23,2.60,Europe
Angola,950,41,25.47,242,667,18,1,0,4.32,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,10621,78,35.33,3752,6791,152,2,0,0.73,2.08,8916,1705,19.12,Eastern Mediterranean
Western Sahara,10,1,80.00,8,1,0,0,0,10.00,12.50,10,0,0.00,Africa
Yemen,1691,483,49.26,833,375,10,4,36,28.56,57.98,1619,72,4.45,Eastern Mediterranean
Zambia,4552,140,61.84,2815,1597,71,1,465,3.08,4.97,3326,1226,36.86,Africa
Zimbabwe,2704,36,20.04,542,2126,192,2,24,1.33,6.64,1713,991,57.85,Africa

## 2. Remove all the records where 'Confirmed' cases are less than ten(< 10) [use ~ ].

In [33]:
b = df.loc[~df['Confirmed'] < 10]

In [34]:
b

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

## 3. In which region were maximum number of confirmed cases recorded?

In [12]:
c = df[df.Confirmed == df.Confirmed.max()]

In [13]:
c

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.9,11.16,3834677,455582,11.88,Americas

In [16]:
c[['Country/Region', 'Confirmed']]

    Country/Region  Confirmed
173             US    4290259

## 4. In which region were mimimum number of deaths recorded?

In [14]:
d = df[df.Deaths == df.Deaths.min()]

In [15]:
d

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
19,Bhutan,99,0,86,13,4,0,1,0.0,86.87,0.0,90,9,10.00,South-East Asia
30,Cambodia,226,0,147,79,1,0,4,0.0,65.04,0.0,171,55,32.16,Western Pacific
49,Dominica,18,0,18,0,0,0,0,0.0,100.00,0.0,18,0,0.00,Americas
55,Eritrea,265,0,191,74,2,0,2,0.0,72.08,0.0,251,14,5.58,Africa
59,Fiji,27,0,18,9,0,0,0,0.0,66.67,0.0,27,0,0.00,Western Pacific
68,Greenland,14,0,13,1,1,0,0,0.0,92.86,0.0,13,1,7.69,Europe
69,Grenada,23,0,23,0,0,0,0,0.0,100.00,0.0,23,0,0.00,Americas
75,Holy See,12,0,12,0,0,0,0,0.0,100.00,0.0,12,0,0.00,Europe
94,Laos,20,0,19,1,0,0,0,0.0,95.00,0.0,19,1,5.26,Western Pacific
114,Mongolia,289,0,222,67,1,0,4,0.0,76.82,0.0,287,2,0.70,Western Pacific
130,Papua New Guinea,62,0,11,51,0,0,0,0.0,17.74,0.0,19,43,226.32,Western Pacific
140,Saint Kitts and Nevis,17,0,15,2,0,0,0,0.0,88.24,0.0,17,0,0.00,Americas
141,Saint Lucia,24,0,22,2,0,0,0,0.0,91.67,0.0,23,1,4.35,Americas
142,Saint Vincent and the Grenadines,52,0,39,13,0,0,0,0.0,75.00,0.0,50,2,4.00,Americas
148,Seychelles,114,0,39,75,0,0,0,0.0,34.21,0.0,108,6,5.56,Africa
168,Timor-Leste,24,0,0,24,0,0,0,0.0,0.00,0.0,24,0,0.00,South-East Asia
181,Vietnam,431,0,365,66,11,0,0,0.0,84.69,0.0,384,47,12.24,Western Pacific

In [17]:
d[['Country/Region', 'Deaths']]

                       Country/Region  Deaths
19                             Bhutan       0
30                           Cambodia       0
49                           Dominica       0
55                            Eritrea       0
59                               Fiji       0
68                          Greenland       0
69                            Grenada       0
75                           Holy See       0
94                               Laos       0
114                          Mongolia       0
130                  Papua New Guinea       0
140             Saint Kitts and Nevis       0
141                       Saint Lucia       0
142  Saint Vincent and the Grenadines       0
148                        Seychelles       0
168                       Timor-Leste       0
181                           Vietnam       0

## 5. How many 'confirmed', 'deaths' and 'recovered' cases were reported from India?

In [47]:
m = df['Country/Region'] == 'India'

In [48]:
e = pd.DataFrame(df[m])

In [49]:
e

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia

In [50]:
e[['Country/Region','Confirmed','Deaths','Recovered']]

   Country/Region  Confirmed  Deaths  Recovered
79          India    1480073   33408     951166

## 6. Sort the entire data with respect to number of 'confirmed' cases in ascending order.

In [41]:
df.sort_values(by=['Confirmed'], ascending=True)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
75,Holy See,12,0,12,0,0,0,0,0.00,100.00,0.00,12,0,0.00,Europe
68,Greenland,14,0,13,1,1,0,0,0.00,92.86,0.00,13,1,7.69,Europe
140,Saint Kitts and Nevis,17,0,15,2,0,0,0,0.00,88.24,0.00,17,0,0.00,Americas
49,Dominica,18,0,18,0,0,0,0,0.00,100.00,0.00,18,0,0.00,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,South Africa,452529,7067,274925,170537,7096,298,9848,1.56,60.75,2.57,373628,78901,21.12,Africa
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas

## 7. Sort the entire data with respect to number of 'recovered' cases in descending order.

In [42]:
df.sort_values(by=['Recovered'], ascending=False)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
35,Chile,347923,9187,319954,18782,2133,75,1859,2.64,91.96,2.87,333029,14894,4.47,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Canada,116458,8944,0,107514,682,11,0,7.68,0.00,inf,112925,3533,3.13,Americas
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.00,0.00,24,0,0.00,South-East Asia
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.00,inf,21253,2888,13.59,Europe
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.00,inf,78048,1347,1.73,Europe